.container{
  margin: 0%;
  position: relative;
}

.top-center{
  position:absolute;
  top:1px;
  left:400px;
  text-align: center;
  font-weight: bold;
  font-family:Georgia, 'Times New Roman', Times, serif
}

.mission-statement{
  position: absolute;
  top:70px;
  left:100px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: large;
  width:1200px;
  text-align: center;
  color: black;
}

h1{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size:large;
  color:black;
  left:800px;
  top: 160px;
  position:absolute;
  position:absolute;
  font-weight: bold;
  font-size:20px;

}
h2{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size:large;
  color:black;
  left:800px;
  top: 200px;
  position:absolute;

}
h3{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size:large;
  color:black;
  left:800px;
  top: 230px;
  position: absolute;


}
h4{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size:large;
  color:black;
  left:800px;
  top: 270px;
  position:absolute;

}
h5{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size:large;
  color:black;
  left:800px;
  top: 300px;
  position:absolute;
}

.leadership-title {
  position:absolute;
  top:150px;
  left:580px;
  text-align: center;
  font-weight: bold;
  font-family:Georgia, 'Times New Roman', Times, serif
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: 0 2px 1px -1px rgba(10,10,170,120),
  0 1px 1px 0 rgba(10,10,170,120),
  0 1px 3px 0 rgba(10,10,170,120);
}

.card {
  max-width: 450px;
  width: 400px;
  height: 350px;
  margin: 10px;
  position: absolute;
}

.founder-card {
  left:250px;
  top: 200px;
}

.president-card {
  left:700px;
  top: 200px;
}

.vice-president-card {
  left:250px;
  top: 600px;
}

.treasurer-card {
  left:700px;
  top: 600px;
}

.events-coord-card {
  top: 1000px;
  left: 250px;
}

mat-card-header {
  font-size: 18px;
}

mat-card-title {
  font-size: 18px;
  justify-content: center;
  display: flex;
}
