<body>
    <div class="container">

        <h3 class="top-center">
            We are the Software Development Organization World Campus!
        </h3>

        <div class = "mission-statement">This organization is a PSU affiliated club for students, alumni, staff, and members of the general public
            who are interested in developing their skills related to software engineering, programming, technology, computer hardware, and other related topics.
            The organization was founded with the purpose of the further education and networking of students in the field of software development, engineering
            computer science.
        </div>


        <h1 class="leadership-title">Meet the Leadership:</h1>
        <mat-card class="card founder-card">
          <mat-card-title>{{ founder.position }}</mat-card-title>
          <mat-card-subtitle>{{ founder.name }}</mat-card-subtitle>
          <mat-card-content>{{ founder.email }}</mat-card-content>
        </mat-card>

        <mat-card class="card president-card">
          <mat-card-title>{{ president.position }}</mat-card-title>
          <mat-card-subtitle>{{ president.name }}</mat-card-subtitle>
          <mat-card-content>{{ president.email }}</mat-card-content>
        </mat-card>

        <mat-card class="card vice-president-card">
          <mat-card-title>{{ vicePresident.position }}</mat-card-title>
          <mat-card-subtitle>{{ vicePresident.name }}</mat-card-subtitle>
          <mat-card-content>{{ vicePresident.email }}</mat-card-content>
        </mat-card>

      <mat-card class="card treasurer-card">
        <mat-card-title>{{ treasurer.position }}</mat-card-title>
        <mat-card-subtitle>{{ treasurer.name }}</mat-card-subtitle>
        <mat-card-content>{{ treasurer.email }}</mat-card-content>
      </mat-card>

      <mat-card class="card events-coord-card">
        <mat-card-title>{{ eventsCoordinator.position }}</mat-card-title>
        <mat-card-subtitle>{{ eventsCoordinator.name }}</mat-card-subtitle>
        <mat-card-content>{{ eventsCoordinator.email }}</mat-card-content>
      </mat-card>

    </div>
</body>


