.container{
  margin: 0%;
  position: relative;
}

#image{
  width: 750px;
  height: 500px;
  margin-left: 10px;
  margin-top:155px;
}

.top-center{
  position:absolute;
  top:1px;
  left:300px;
  text-align: center;
  font-weight: bold;
  font-family:Georgia, 'Times New Roman', Times, serif
}

.mission-statement{
  position: absolute;
  top:70px;
  left:30px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: large;
  width:1200px;
  text-align: center;
  color: black;
}

h1{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size:large;
  color:black;
  left:800px;
  top: 160px;
  position:absolute;
  position:absolute;
  font-weight: bold;
  font-size:20px;

}
h2{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size:large;
  color:black;
  left:800px;
  top: 200px;
  position:absolute;

}
h3{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size:large;
  color:black;
  left:800px;
  top: 230px;
  position: absolute;


}
h4{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size:large;
  color:black;
  left:800px;
  top: 270px;
  position:absolute;

}
h5{

  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size:large;
  color:black;
  left:800px;
  top: 300px;
  position:absolute;


}

mat-card {
  border: 1px solid #000;
  /*filter: drop-shadow(30px 10px 4px black);*/
}

.founder-card {
  max-width: 450px;
  margin: 10px;
  left:800px;
  top: 200px;
  position: absolute;
}

.president-card {
  max-width: 450px;
  margin: 10px;
  left:1000px;
  top: 200px;
  position: absolute;
}

.vice-president-card {
  max-width: 450px;
  margin: 10px;
  left:800px;
  top: 350px;
  position: absolute;
}

.treasurer-card {
  max-width: 450px;
  margin: 10px;
  left:1000px;
  top: 350px;
  position: absolute;
}

mat-card-header {
  font-size: 18px;
}

mat-card-title {
  font-size: 18px;
  justify-content: center;
  display: flex;
}
