/*
#image{
   
    position: relative; 
    left: 0; 
    right: 0; 
    width: 1260px;
    height: 1000px;;
     
    
    
}*/

/*
.container{
    margin: 1%;
    position: relative;
}






.top-center{
    position: absolute;
    top: 130px;
    left: 350px;
    font-size: larger;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}*/

/*
.mission-statement{
    position: absolute;
    top: 150px;
    left:200px;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
}*/