h3{
    font-size:30px;
    font-weight: bold;
    font-stretch: expanded;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}


